@namespace Frontend.Components
@using Frontend.Service.AlertService
@inherits AlertBoxBase

@if (@Alert != null)
{
    <div id="alert-container">
        <RadzenAlert Style="width: 95%" AlertStyle="@Alert.Style">
            <ChildContent>
                @Alert.Message
            </ChildContent>
        </RadzenAlert>
    </div>
}