@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, user!</h1>

<RadzenLink Path="PCBAInfo" Icon="pageview" Style="color: #0c63e4" Text="Find PCBA info" />

<RadzenLink Path="ActuatorsInfoPage" Icon="pageview" Style="color: #0c63e4" Text="Find Actuator info" />