@using Frontend.Entities
@inherits InformationContainerBase

<div style="display: flex; width: 100%;">
    <div style="flex: 1;">
        <ActuatorInformation Actuator="@Actuator" />
    </div>
    <div style="flex: 1;">
        <PCBAInformation Actuator="@Actuator" />
    </div>
</div>

<RadzenRow Style="position: absolute; bottom: 20px;">
    <RadzenButton Click="@(_ => OnChangeComponentBtnClick())" Text="Change Component" ButtonStyle="ButtonStyle.Primary"/>
</RadzenRow>

