@page "/PCBAInfo"
@using Frontend.Entities
@using Frontend.Components
@inherits PCBAInfoBase
<h3>PCBAInfo</h3>

<RadzenRow>
    <RadzenTemplateForm TItem="Actuator" Data=@actuator Submit=@SearchActuator>
        <RadzenRow>
            <RadzenColumn>
               <WorkOrderNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
               <SerialNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Search"></RadzenButton>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>

<RadzenRow>
    <RadzenText>@pcbaUid</RadzenText>
</RadzenRow>