@page "/PCBAInfo"
@using Frontend.Entities
@using Frontend.Model
@using Frontend.Components
@inject IActuatorDetailsModel ActuatorDetailsModel
<h3>PCBAInfo</h3>

<RadzenRow>
    <RadzenTemplateForm TItem="Actuator" Data=@actuator Submit=@SearchActuator>
        <RadzenRow>
            <RadzenColumn>
                <WorkOrderNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
                <SerialNumberInputValidator Actuator="@actuator"/>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Search"></RadzenButton>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>

<RadzenRow>
    <RadzenText>@pcbaUid</RadzenText>
</RadzenRow>

@code {
    private int pcbaUid;

    private Actuator actuator = new Actuator();

    private async Task SearchActuator()
    {
        actuator = await ActuatorDetailsModel.GetActuatorDetails(actuator.WorkOrderNumber, actuator.SerialNumber);
        pcbaUid = actuator.PCBA.PCBAUid;
    }
}