@page "/TestResultSearch"
@using Frontend.Components
@using Frontend.Entities
@inherits TestResultSearchBase
<h3>TestResultSearch</h3>

<RadzenRow JustifyContent="JustifyContent.SpaceBetween">
    <RadzenTemplateForm TItem="TestResult" Data="@SearchTestResult" Submit="@Search" Style="width: 90%;">
        
        <RadzenRow>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Search"/>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>
<RadzenRow>
    <TestResultTable TestResults="@TestResults"/>
</RadzenRow>
