<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <LaunchOptions>
      <Headless>true</Headless>
      <SlowMo>2500</SlowMo>
      <Channel>chrome</Channel>
    </LaunchOptions>
  </Playwright>
  <TestRunParameters>
      <Parameter name="baseUrl" value="http://localhost:5002/" />
  </TestRunParameters>
</RunSettings>